@charset "uft-8";

*{margin:0;padding:0;box-sizing: border-box;}
ol,ul,li{list-style: none;}
a {text-decoration: none; color:#444;}
body,html {scroll-behavior: smooth; font-family: "san-serif", '나눔고딕';}
img {vertical-align:bottom; transition:all 0.3s;}
p{line-height:2;}
h1{
    position: relative;
    font-size:30px;
    line-height:72px;
    float:left;
    margin-left:10px;
}
h2 {color:#eee;}

.mg30 {margin:30px 0px}
.mg20 {margin:20px 0px}

#container {
    width:100%;
    height:auto;
    overflow: hidden;
}

.loading {
    position: relative;
    margin-top:18%;
    width:100%;
    height:400px;
    text-align: center;
    background:#000;
    transition:all .5s;
}

.load {
    width:120px;
    height:100px;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%);
    animation:floating 1.5s infinite;
    -webkit-animation:floating 1.5s infinite;
}

.load img {
    width:80px;
    height:80px;
    display: block;
}

.load span {
    font-weight:800;
    color:#fff;
}

@keyframes floating {
    0% {transform:translateY(0%)}
    50% {transform:translateY(8%)}
    100% {transform:translateY(0%)}
}

@-webkit-keyframes floating {
    0% {-webkit-transform:translateY(0%)}
    50% {-webkit-transform:translateY(8%)}
    100% {-webkit-transform:translateY(0%)}
}

.big {
    height:100vh;
    margin-top:0;
}

/*헤더*/

#header {
    position: fixed;
    top:0;
    width:100%;
    height:80px;
    overflow: hidden;
    display: none;
    z-index:999;
    background:#fff;
    transition:top 0.5s;
}

#header.yellow{
    background:#ffd73b;
}

#headerinner {
    width:1320px;
    height:80px;
    position: relative;
    margin:0 auto;
}

#headerinner #logo {
    position:absolute;
    top:10px;
    left:0;
}

.gnb {
    width:660px;
    height:21px;
    float:right;
}

.gnb>li {
    float:left;
    width:165px;
    height:20px;
    text-align: right;
}

.gnb>li>a {
    position: relative;
    display:block;
    line-height:80px;
    font-size:15px;
}

.gnb>li>a:hover {
    font-weight:800;
}

a.bold {
    font-weight:800;
}

/*1320px영역*/

#content {
    width:1320px;
    height:auto;
    margin:0 auto;
    display:none;
}

/*메인페이지*/

.visual_main {
    position: relative;
    width:100%;
    height:716px;
    background:url("../images/visual_main.png") no-repeat 0px -100px;
    background-size:cover;
    margin-top:80px;
}

#intro {
    position: absolute;
    top:250px;
    left:100px;
    width:400px;
    height:350px;
    padding:5px;
    letter-spacing: 2px;
    line-height:1.5;
}

.btn1 {
    position: relative;
    width:280px;
    height:77px;
    background:#FFF;
    border-radius: 35px;
    font-size:15px;
    letter-spacing: 3px;
    border:none;
    transition:all 0.4s;
    outline:none;
    overflow: hidden;
    cursor: pointer;
}

.btn1:hover {
    background:#ffd73b;
    color:#FFF;
    font-size:18px;
    font-weight:800;
    box-shadow: 0px 0px 5px;
}

.btn1:hover + a.inc {
    opacity:1;
}

#intro span {
    font-size:18px;
    color:#eee;
}

.typingbox {
    width:100%;
    height:130px;
    font-size:42px;
    font-weight:800;
    color:#eee;
}

.typingtxt {
    display:none;
}

.typing li.on {
    display: inline-block;
    animation: cursor 0.5s infinite;
    -webkit-animation: cursor 0.5s infinite;
}

@keyframes cursor {
    0% {border-right:1px solid transparent}
    50%{border-right:1px solid #000}
    100%{border-right:1px solid transparent}
}

@-webkit-keyframes cursor {
    0% {border-right:1px solid transparent}
    50%{border-right:1px solid #000}
    100%{border-right:1px solid transparent}
}

.until {
    width:30px;
    height:200px;
    position: fixed;
    right:5%;
    top:40%;
    z-index:999;
}

.until a img {
    width:30px;
    height:30px;
}

/*프로필*/

.line {
    margin-top:155px;
    width:100%;
    height:1px;
    background:#ffd73b;
}

#profile {
    width:100%;
    height:467px;
    border-bottom:1px solid #000;
}

.prfheader {
    height:72px;
}

.prfheader span {
    font-size:24px;
    line-height:72px;
    margin-left:231px;
    background:#000;
    color:#eee;
    padding:5px;
    overflow: hidden;
}

.info {
    width:359px;
    height:345px;
    text-align: center;
    float:left;
    padding-top:100px;
    overflow:hidden;
}

.prfbox {
    width:960px;
    height:345px;
    border-left:1px solid #000;
    float:right;
    cursor: pointer;
}

.prfbox ul {
    width:900px;
    height:100%;
    margin:0 auto;
}

.prfbox ul li {
    width:286px;
    height:100%;
    float:left;
    margin-right:20px;
}

.prfbox ul li h1{
    overflow: hidden;
}

.prfbox ul li h1:after {
    position:absolute;
    top:20px;
    right:-35px;
    transform:rotate(15deg);
    content:"";
    display:block;
    width:40px;
    height:40px;
    border-left:1px solid #444;
    background:#fff;
}

.prfbox ul li:last-child{
    margin:0;
}

/*스킬*/

#skills {
    width:100%;
    height:560px;
    position: relative;
}

.box1{
    float:left;
    width:100%;
    height:100%;
    background:#000;
    transition: all 0.3s;
    color:white;
}

.skillbox {
    position: relative;
    display:flex;
    display:-webkit-box;
    display:-ms-flexbox;
    width:500px;
    margin:20px;
    padding:20px;
    border:1px solid #444;
    border-radius:10px;
    overflow: hidden;
    transition:0.5s;
    float:left;
}

.skillbox .name {
    position: relative;
    display:inline-block;
    width:100px;
    text-align:right;
    color:#eee;
    margin-top:-3px;
    text-transform: uppercase;
}

.skillbox .percent {
    position: relative;
    width:calc(100% - 150px);
    height:20px;
    margin:0 10px;
    border-radius:10px;
    background:#151515;
    overflow: hidden;
}

.skillbox .percent .progress {
    position: absolute;
    top:0;
    left:0;
    width:90%;
    height:100%;
    border-radius: 10px;
    background:linear-gradient(to left, #FFFF01, #58C9EA);
    animation: pro 3s ease-in-out forwards;
    -webkit-animation: pro 3s ease-in-out forwards;
}

@keyframes pro {
    from {width:0;}
}

@-webkit-keyframes pro {
    from {width:0;}
}

.box1 p {
    clear: both;
}

#skills:after{
    position: absolute;
    top:0;
    left:-50%;
    content:"";
    display:block;
    width:100%;
    height:100%;
    background:#000;
    z-index:-1;
}

#skills:before{
    position: absolute;
    top:0;
    right:-100%;
    content:"";
    display:block;
    width:100%;
    height:100%;
    background:#ffd73b;
    z-index:-1;
}

/* 포트폴리오 */

#port {
    width:100%;
    height:auto;
    border-top:1px solid #000;
}

.flexbox {
    width:100%;
    height:430px;
    margin-top:110px;
    overflow: hidden;
    transition:all 0.3s;
}

.flexbox ul {
    width:100%;
    height:auto;
    margin:0 auto;
    padding-left:20px;
}

.flexbox ul li {
    position: relative;
    width:385px;
    height:430px;
    margin:0px 20px 40px;
    background:#eee;
    float:left;
}

.flexbox ul li:after {
    position: absolute;
    top:0;
    left:0;
    content:"";
    display:none;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
}

.flexbox ul li:hover:after {
    display:block;
}

.view {
    position: absolute;
    top:10%;
    left:10%;
    display:none;
    width:80%;
    height:80%;
    border:1px dashed #eee;
    padding:24px 10px 18px;
    text-align: center;
    z-index:1;
}

.view a {
    display:block;
    width: 100px;
    height:40px;
    border:1px solid #eee;
    border-radius:15px;
    color:#eee;
    font-size:15px;
    line-height:40px;
    letter-spacing: 2px;
    margin:0 auto;
    box-shadow: 0 0 5px gray;
}

.view a:hover {
    background:#eee;
    color:#000;
}

.viewinner {
    width:100%;
    height:50%;
    padding:30px;
    margin-bottom:50px;
    line-height:2;
    color:#eee;
}

.flexbox ul li:hover .view {
    display: block;
}

.more {
    position: relative;
    width:40px;
    height:40px;
    text-align: center;
    margin:0 auto;
    margin-top:30px;
    cursor: pointer;
}

.more img {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;

}

/*푸터*/

#footer {
    position: relative;
    width:100%;
    height:160px;
    margin-top:30px;
    background:#000;
    padding:25px 0;
    color:#eee;
}

#footer ul {
    width:600px;
    height:100%;
    margin:0 auto;
}

#footer ul li {
    width:100%;
    height:30px;
    font-size:13px;
    text-align: center;
}

#footer:after {
    position: absolute;
    top:0;
    left:-50%;
    width:200%;
    height:100%;
    content:"";
    display:block;
    background:#000;
    z-index: -1;
}